__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints/
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
*.log
.DS_Store
*.local
~/.cache/matplotlib/*
*.bak

